<extend name="Public:base" />
<block name='title'>
  <title>主页</title>
</block>
<block name="main">
        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">侧栏</button>
          </p>

        <div class="jumbotron" style="background-image: url('__PUBLIC__/home/imgs/lunbo2.png');">
          <h1 class="text-primary">Master Password</h1>
          <p class="text-info"><small>一款跨平台且非常安全的密码管理工具</small></p>
          <p><a class="btn btn-primary " href="#" role="button">点击了解</a></p>
        </div>


        <div class="row featurette">
                <div class="col-md-7">
                  <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
                  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5">
                  <img class="featurette-image img-responsive center-block" src="__PUBLIC__/home/imgs/jian.png" alt="Generic placeholder image">
                </div>
        </div>
        <hr>
        <div class="row featurette">
                <div class="col-md-7 col-md-push-5">
                  <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
                  <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </div>
                <div class="col-md-5 col-md-pull-7">
                  <img class="featurette-image img-responsive center-block" src="__PUBLIC__/home/imgs/jian.png" alt="Generic placeholder image">
                </div>
        </div>


        </div><!--/.col-xs-12.col-sm-9-->
</block>
<block name="pager">
<hr>
  <nav class="col-md-6 col-md-offset-3">
  {$page}
  </nav>
</block>
<block name='js'>
    <script src="__PUBLIC__/home/js/ie10-viewport-bug-workaround.js"></script>
    <script src="__PUBLIC__/home/js/ie-emulation-modes-warning.js"></script>
    <script type="text/javascript"> 
      $(document).ready(function() {
        var summary;
         $('.index-summary').each(function () {
            var summary = $(this).text();
            if (summary.length > 70) {
              $(this).text(summary.substring(0,70)+'...');
            }
         })
      });
    </script>
</block>
