body{
    margin: 0 auto;
    background-color: #C0C0C0;
}
.top{
    height: 50px;
    width: auto;
    text-align: center;
    padding-top: 10px;
}
.top span{
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 微软雅黑;
}
.main{
    margin: 0 auto;
    text-align: center;
}
.main .btn-group-vertical .btn-group{
width: 200px;
margin: 20px 0 20px 0;
}
.main .btn-group-vertical .btn-group button{
    height: 50px;
    background-color: #F7F7F9;
    font-size: 20px;
    letter-spacing: 5px;
}
.logout{
width: 200px;
height: 50px;
}
.logout a{
font-size: 20px;
letter-spacing: 4px;
font-family: 微软雅黑;
text-decoration: none;
}