body{
    width: 1366px;
    height: 1900px;
    background-color: #89B2BB;
}
.content{
    width: 1366px;
    margin: 0 auto;
}
.header{
    width: 1366px;
    height: 36px;
    background-color: #f2f2f2;
}
.header span{
    float: right;
    font-size: 15px;
    background-color: #F7F7F9;
    margin-right: 20px;
    margin-top: 10px;
}
.header span a{
    color: #777777;
}
.top{
    height: 50px;
    width: auto;
    background-color: white;
}
.loopImgs{
    height: 476px;
    width: auto;
   /* background-color: red;*/
   background-image: url(../images/bgbody.jpg);
   background-clip:content-box ;
}
.content{
    margin: 0 120px;
}
.content .panel{
    width: 550px;
    height: 400px;
    background-color: #666;
    padding: 1px;
    margin: 5px;
}
.content .panel{
    display: inline-block;
}
.test{
    margin-top: 10px;
    height: 360px;
    background-color: #666;
    padding: 0;
}
.test .num{
    width: 222px;
    display: inline-block;

    padding: 3px;
    margin: 5px 15px 0 15px;
}
.sum{
    margin: 0 45px;
}
.fengexian{
    height: 30px;
    background-image: url(../images/fenge.png);
    z-index: 1;
}
.fengexian p{
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
}
.fengexian p span{
    background-color: white;
}
.frendlinks{
    height: 150px;
    width: auto;
    background-color: #D7DCDD;
    display: block;

}
.frendlinks .frendtxt{
    background: #eee;
    font-size: 20px;
    font-family: 微软雅黑;
    text-indent: 10px;
}
.frendlinks .linkimgs{
    margin:10px 70px 0 70px;
}
.frendlinks .linkimgs img{
    width: 200px;
    height: auto;

}
.footer{
    border-top: 1px solid black;
    height: 152px;
    background-color: #012120;
}
.footer h1{
    text-align: center;
    padding-top: 30px;
}
/*#donghua{
    background-image: url(../images/fanju.png);
    background-position: right;
    background-repeat: no-repeat;
}*/
