*{
    border-radius: 5px;
}
body{
    padding: 0;
    margin: 0;
    background-image: url(../images/log1.png);
    background-repeat: no-repeat;
    background-size: 1366px;
}
#container{
    padding: 10px;
    margin: 100px auto;
    background-color: rgba(247,247,247,0.4);
    width: 500px;
    height: 400px;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin: 20px;
    color: rgba(65,139,202,1);
    font-family: 华文行楷;
    font-size: 50px;
}
#logInfo{
    position: absolute;
    margin: 10px 100px;
}
#logInfo img{
    width: 150px;
    height: 50px;
    border: 1px solid block;
    background-color: #eee;
    margin-top: 3px;
}
#logInfo input{
    display: block;
    margin-top: 5px;
    line-height: 25px;
    width: 300px;
    font-size: 15px;
}
#logInfo input.userName{
    background-image: url(../images/user.png);
    background-repeat: no-repeat;
    background-position: right;
}
#logInfo input.password{
    background-image: url(../images/pwd.png);
    background-repeat: no-repeat;
    background-position: right;
}
#logInfo input.submit{
    width: 200px;
    margin-left: 50px;
    margin-bottom: 8px;
    height: 42px;
    background-color: rgba(65,139,202,0.6);
    font-size: 20px;
    letter-spacing: 3px;
    color: white;
    font-family: 微软雅黑;
    background-image: url(../images/login.png);
    background-repeat: no-repeat;
}
#logInfo input.submit:hover{
    cursor: pointer;
    background-color: rgba(65,139,202,0.7);
}
#logInfo .gologin{
    margin-left: 90px;
    text-decoration: none;
    color: rgba(143, 144, 144,1);
}
#logInfo .gologin:hover{
    text-decoration: underline;
    color: green;
}
#logInfo .forgpwd{
    text-decoration: none;
    color: rgba(143, 144, 144,1);
}
#logInfo .forgpwd:hover{
    text-decoration: underline;
    color: red;
}
