<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>addTag</title>
    <link rel="stylesheet" href="">
    <script>
        $(document).ready(function() {
            // $('#tag').popover('show');
        var flag = true;
        $('#tag').keyup(function () {
             if ($('#tag').val().length > 1) {
                $('#tag').attr('data-content', '');
                $('#tag').popover('hide');
                $.post('ajaxTagName', {tagName: $('#tag').val()}, function(data, textStatus, xhr) {
                    if (textStatus == 'success') {
                        if (data == '1') {
                            $('#tag').attr('data-content', '标签已存在');
                            $('#tag').popover('show');
                            flag = false;
                        }else if (data == '2') {
                            $('#tag').attr('data-content', '不能为空字符串');
                            $('#tag').popover('show');
                            flag = false;
                        }else if(data == '0'){
                            $('#tag').popover('hide');                         
                            flag = true;
                        }
                    }
                });
             }else{
                $('#tag').popover('hide');
             }
        })
        $('#submit').click(function () {
              if ($('#tag').val().length == 0 ) {
                return false;
              }
              if (!flag) {
                $('#tag').popover('show');
              }
              return flag;
        })
        });
    </script>
</head>
<body id="addTag">
    <form action="addTag" method="post" accept-charset="utf-8">
     <div class="col-lg-4" style="margin: 100px 450px 50px 450px;">
        <div class="input-group">
          <input type="text" class="form-control" id="tag" placeholder="TagName...(2--10)" autofocus="" data-container="body" data-toggle="popover" data-placement="top" data-content="" maxlength="10" minlength="2" value="" required="" name="tagName">
          <span class="input-group-btn">
            <button class="btn btn-default" id="submit" type="submit">添加!</button>
          </span>
        </div>
      </div>
      </form>
      <span style="font-size: 16px;"><a href="__MODULE__/index/index" title="">回主界面</a></span>
</body>
</html>