<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>showTag</title>
    <link rel="stylesheet" href="__PUBLIC__/css/showmovie.css">
    <script>
        $(document).ready(function() {
            $('.dis').removeAttr('href');
            $('.dis').removeAttr('onclick');
            $('.dis').text('禁用');
            $('.dis').css('textDecoration','none');
            $('.dis').css('color','black');
        });
    </script>
</head>
<body>
<div id="showMovie">
        <table>
        <thead>
            <tr style="border-bottom: 1px solid #eee;" >
                <th>编号</th>
                <th>标签</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
        <foreach name = 'list' item = 'tlist' key = 'k'>
            <tr>
                <td class="listid">{$k+$pageSize}</td>
                <td>{$tlist.tag_name}</td>
                <td><a href="__MODULE__/tag/editTag?id={$tlist.id}" title="编辑" class="{$tlist.dis}">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="__MODULE__/Tag/deleteTag?id={$tlist.id}" onclick="return confirm('确认要删除本条记录!');" title="删除" class="{$tlist.dis}">删除</a>
                </td>
            </tr>
        </foreach>
        </tbody>
    </table>
    <hr>
    {$page}
    <span><a href="__MODULE__/tag/addTag" title="主界面" style="color: blue;">新增标签</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span><a href="__MODULE__/index/index" title="主界面" style="color: blue;">管理主界面</a></span>
</div>
</body>
</html>