<extend name="Public:base" />
<block name='title'>
    <title>个人中心</title>
</block>
<block name="main">
    <div class="col-xs-12 col-sm-12" >
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#baseInfo" aria-controls="baseInfo" role="tab" data-toggle="tab">基本信息</a></li>
            <li role="presentation"><a href="#msgInfo" aria-controls="msgInfo" role="tab" data-toggle="tab">留言信息</a></li>
            <li role="presentation"><a href="#sysInfo" aria-controls="sysInfo" role="tab" data-toggle="tab">系统消息</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">设置</a></li>
          </ul>
          <!-- Tab panes -->

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="baseInfo">
    <div class="panel panel-default">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>用户名:</td>
                    <td>付立</td>
                </tr>
                <tr>
                    <td>电子邮件</td>
                    <td>674310383@qq.com</td>
                </tr>
                <tr>
                    <td>生日</td>
                    <td>1994/09/21</td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td>男生</td>
                </tr>
                <tr>
                    <td>文章数量</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>登陆次数</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>上次登录时间</td>
                    <td>2016-05-03 16:05:33</td>
                </tr>
                <tr>
                    <td>上次登录IP</td>
                    <td>127.0.0.1</td>
                </tr>
                <tr>
                    <td>加入时间</td>
                    <td>2016-05-03 16:05:33</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="msgInfo">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">我的留言</div>
      <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>文章名</th>
                    <th>留言详情</th>
                    <th>留言时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>留言详情</td>
                    <td>留言详情</td>
                    <td>留言详情</td>

                </tr>
                <tr>
                    <td>奋斗奋斗</td>
                    <td>奋斗奋斗</td>
                    <td>奋斗奋斗</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">我的回复</div>
      <!-- Table -->
      <div class="table-responsive">
         <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <th>用户ID</th>
                    <th>回复详情</th>
                    <th>回复时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>留言详情</td>
                    <td>留言详情</td>
                    <td>留言详情</td>

                </tr>
                <tr>
                    <td>奋斗奋斗</td>
                    <td>奋斗奋斗</td>
                    <td>奋斗奋斗</td>
                </tr>
            </tbody>
        </table>         
      </div>

    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">回复我的</div>
      <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>回复者</th>
                    <th>回复详情</th>
                    <th>回复时间</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>留言详情</td>
                    <td>留言详情</td>
                    <td>留言详情</td>

                </tr>
                <tr>
                    <td>奋斗奋斗</td>
                    <td>奋斗奋斗</td>
                    <td>奋斗奋斗</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="sysInfo">
    <div class="panel panel-default">
      <!-- Table -->
      <table class="table">
        <tr>
            <td colspan="" rowspan="" headers="">用户名</td>
            <td colspan="" rowspan="" headers="">付立</td>
        </tr>
      </table>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="settings">
    <div class="panel panel-default">
      <!-- Table -->
      <table class="table">
        <tr>
            <td colspan="" rowspan="" headers="">用户名</td>
            <td colspan="" rowspan="" headers="">付立</td>
        </tr>
      </table>
    </div>
  </div>

</div>
        </div>
    </div>
</block>

<block name="sidebar">
</block>
