<extend name="Public:base" />
<block name='title'>
    <title>个人中心</title>
</block>
<block name="main">
    <div class="col-xs-12 col-sm-12" >
        <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#baseInfo" aria-controls="baseInfo" role="tab" data-toggle="tab">基本信息</a></li>
            <li role="presentation"><a href="#msgInfo" aria-controls="msgInfo" role="tab" data-toggle="tab">留言信息</a></li>
            <li role="presentation"><a href="#sysInfo" aria-controls="sysInfo" role="tab" data-toggle="tab">系统消息</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">设置</a></li>
          </ul>
          <!-- Tab panes -->

<div class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="baseInfo">
    <div class="panel panel-default">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <td>用户名:</td>
                    <td>{$baseInfo.username}</td>
                </tr>
                <tr>
                    <td>电子邮件</td>
                    <td>{$baseInfo.email}</td>
                </tr>
                <tr>
                    <td>生日</td>
                    <td>{$baseInfo.birthday|substr=0,10}</td>
                </tr>
                <tr>
                    <td>性别</td>
                    <td>
                        <switch name="baseInfo.gender">
                            <case value='0'>保密</case>
                            <case value='1'>女</case>
                            <case value='2'>男</case>
                        </switch>
                    </td>
                </tr>
                <tr>
                    <td>文章数量</td>
                    <td>{$baseInfo.acount}</td>
                </tr>
                <tr>
                    <td>登陆次数</td>
                    <td>{$baseInfo.login_count}</td>
                </tr>
                <tr>
                    <td>上次登录时间</td>
                    <td>{$baseInfo.last_login_time|date='Y-m-d',###}</td>
                </tr>
                <tr>
                    <td>上次登录IP</td>
                    <td>{$baseInfo.last_login_ip|long2ip}</td>
                </tr>
                <tr>
                    <td>加入时间</td>
                    <td>{$baseInfo.createtime|date='Y-m-d',###}</td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="msgInfo">
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">我的留言</div>
      <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>文章名</th>
                    <th>留言详情</th>
                    <th>留言时间</th>
                </tr>
            </thead>
            <tbody>
                <volist name="commentInfo" id="com" empty="暂时没有记录">
                    <tr>
                        <td class="head">{$com.title}睡得太晚睡得</td>
                        <td class="content">{$com.content}由我来写下第一条留言由我来写下第一条留言由我来写下第一条留言由我来写下第一条留言由我来写下第一条留由我来写下第一条留言</td>
                        <td>{$com.time|date='Y-m-d',###}</td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">我的回复</div>
      <!-- Table -->
      <div class="table-responsive">
         <table class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <th>用户ID</th>
                    <th>回复详情</th>
                    <th>回复时间</th>
                </tr>
            </thead>
            <tbody>
                <volist name="replyToMe" id="rept" empty="暂时没有记录">
                    <tr>
                        <td class="head">{$rept.username}</td>
                        <td class="content">{$rept.content}</td>
                        <td>{$rept.time|date='Y-m-d',###}</td>
                    </tr>
                </volist>
            </tbody>
        </table>         
      </div>

    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">回复我的</div>
      <!-- Table -->
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>回复者</th>
                    <th>回复详情</th>
                    <th>回复时间</th>
                </tr>
            </thead>
            <tbody>
                <volist name="replyFromMe" id="repf" empty="暂时没有记录">
                    <tr>
                        <td class="head">{$repf.username}</td>
                        <td class="content">{$repf.content}</td>
                        <td>{$repf.time|date='Y-m-d',###}</td>
                    </tr>
                </volist>
            </tbody>
        </table>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="sysInfo">
    <div class="panel panel-default">
      <!-- Table -->
      <table class="table">
        <tr>
            <td colspan="" rowspan="" headers="">用户名</td>
            <td colspan="" rowspan="" headers="">付立</td>
        </tr>
      </table>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane fade" id="settings">
    <div class="panel panel-default">
      <!-- Table -->
      <table class="table">
        <tr>
            <td colspan="" rowspan="" headers="">用户名</td>
            <td colspan="" rowspan="" headers="">付立</td>
        </tr>
      </table>
    </div>
  </div>

</div>
        </div>
    </div>
</block>

<block name="sidebar">
</block>
<block name="js">
<script>
    $(document).ready(function() {
       $('.content').each(function () {
            var context = $(this).text();
            if (context.length > 60) {
                $(this).text(context.substring(0,60)+'...');
            } 
       });
       $('.head').each(function () {
            var context = $(this).text();
            if (context.length > 10) {
                $(this).text(context.substring(0,10)+'...');
            } 
       })
    });
</script>
</block>
