<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>登陆</title>
    <link rel="stylesheet" href="__PUBLIC__/css/login.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/js/logcheck.js" type="text/javascript" charset="utf-8" ></script>
</head>
<body style="height: auto;">
    <div id="container">
        <h1>后台登陆</h1>
        <hr>
        <div id="logInfo">
            <form action="login" method="post" accept-charset="utf-8">
                 <input type="text" class="userName" id="userName" name="userName" autofocus="" value="" placeholder="管理员" required="">
                <input type="password" class="password" id="password" name="password" value="" placeholder="密码" required="">
                <input type="submit" class="submit" name="logInfo" value="登陆">
                <p>暂时可以使用前台账号登陆后台管理!</p>
            </form>
        </div>
    </div>

</body>
</html>

