body,h1,h2,h3,p,form,li,ol,ul,dl,dt,dd{
    margin: 0;
    padding: 0;
}
#top{
    background: #3066A0;
}
#top h1{
    width: 150px;
    height: 80px;
    font-size: 10px;
    float: left;
    text-indent: -8888px;
    background: url(../../images/top-logo.png);
}
#top ul{
    padding: 47px 0 0 10px;
    float: left;
}
#top p{
    float: right;
    padding: 35px 10px 0 0;
    color: white;
}
#top p a{
    text-decoration: none;
    color: #DDC3AC;
}
#top p a:hover{
    text-decoration: underline;
}
#top ul li{
    display:block;
    float: left;
    padding-left: 10px;
}
#top ul li a{
    text-align: center;
    line-height: 30px;
    background: #3E7DBA;
    width: 58px;
    height: 33px;
    display: block;
    font-size: 14px;
    font-family: 微软雅黑;
    text-decoration: none;
    color: white;
}
#top ul li a.selected{
    background: white;
    color: black;
}
#sidebar{
    color: #3e6ba5;
    background: #f7fbfc url(../../images/pointer.png) repeat-y right;
}
#sidebar dl{
    padding: 20px;
}
#sidebar dl dt{
    border-bottom: 1px solid #ccc;
    font-size: 15px;
    color: #3b6ea5;
    line-height: 22px;
    padding: 5px 0;
    font-family: 微软雅黑;
}
#sidebar dl dd{
    text-indent: 5px;
    margin-top: 5px;
    font-size: 13px;
    font-family: 微软雅黑;
}
#sidebar dl dd a{
    text-decoration: none;
    color: #333;
}
#sidebar dl dd a:hover{
    text-decoration: underline;
}
#main{
    background: white;
}
#main div.map{
    padding: 10px;
    color: #333;
}
#main div.map strong{
    color: #3EB860;
}
#main table{
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
#main table tr{
    background: white;
}
#main table tr:hover{
    background: #fffccc;
}
#main table th,#main table td{
    height: 30px;
    line-height: 30px;
    color: #333;
}
#main table th{
    background: #eef3f7;
    border-bottom: 1px solid #d5dfe8;
    font-weight: normal;
}

#main form table.add_update{
    width: 300px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: left;
}
 #main form input.text{
    width: 220px;
    height: 20px;
    background: #fff;
    border: 1px solid #ccc;
 }
#main form table.add_update th{
        border-bottom: none;
}
#main form select{
    width: 100px;
    height: 20px;
}
 #main form input.submit{
    cursor: pointer;
    margin-left: 60px;
    height: 25px;
 }
#main a{
    text-decoration: none;
    color: #3e6ba5;
}
#main a:hover{
    text-decoration: underline;
}
#main p.adm {
    text-align: center;
    padding: 10px;
}
#main ol{
    padding: 0 0 5px 26px;
}
#main ol li{
    float:  left;
    padding: 2px 0 10px 5px;
    list-style-type: none;
    display: inline-block;
}
#main ol li a{
    padding: 5px;
}
#main ol li a.selected{
    background: #3b6ea5;
    color: white;
}

